.wrapper {
  display: grid;
  grid-template-columns: 460px minmax(auto, 250px) 480px auto;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  grid-template-areas:
 "left . header header"
 "left . right .";
  background-color: white;
}

.logo {
  margin-top: 40px;
  margin-left: 40px;
}

.left {
  margin: 16px 0 16px 16px;
  grid-area: left;
  box-shadow: 0 16px 32px -4px rgba(145, 158, 171, 0.12);
  border-radius: 16px;
  background-color: white;
  display: grid;
  grid-template-rows: 70px auto;
}

.img {
  margin: 373.5px auto auto auto;
}

.right {
  grid-area: right;
  margin: auto 0 auto 0 ;
}

.header {
  grid-area: header;
  height: 100px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 40px;
}

.text {
  font-size: 14px;
}

.blue {
  font-weight: 600;
  color: var(--blue);
}

.h {
  margin-bottom: 8px;
}

.p {
  margin-top: 0;
  margin-bottom: 40px;
}
